# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Input images
build/*
images/*
viz/*
viz_nobg/*
tumrgbd_slam_data/*
data_tumrgbd/*
data_sunrgbd_sample/*


# Weights
weights/*

# Logs
old_log/*
log/*

# VSCode stuff
.vscode/settings.json

# Build stuff
CMakeFiles/*
debug/*
